 body{
background-image: url(320344.png);
background-size: cover;
font-family: 'Amatic SC', cursive;
}
h1{
	color:orange;
	text-align: center;
	border:10px solid #E9CA70;
	cursor: pointer;
	text-decoration: underline;
	font-size:400%; 
	font-weight:500;
	box-shadow: 4px 4px 5px #3E2903;
	
}
h1:hover{
	color:red;

}

.container{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;

}
 img{
	width: 400px;
	height: 400px;
	transition: all 0.5s;
}
 img:hover{
	transform:scale(1.1);
}